:root {
  --main: #1b262c;
  --sub: #27496d;
  --highligh: #0c7b93;
  --important: #00a8cc;
  --contrast: #d1ccc0;
  --introduction: #1b262c;
  --skills: #2b2e4a;
  --highlightProject: #112d4e;
  --projects: #27496d;
  --footer: #575151;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Anonymous Pro, monospace;
  background-color: var(--main);
  color: var(--contrast);
}

section {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  scroll-snap-align: start;
}
